:root {
  --scroll-content-margin: 0px;
}
/* Global */
*,
::before,
::after {
  box-sizing: border-box;
}

p,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: 0;
  padding: 8px;

  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  padding: 24px;
  background: linear-gradient(138.13deg, #22343c 25.87%, #1f2e35 100%);
  text-align: center;
}

/* Form */
.on-scroll {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  background: linear-gradient(138.13deg, #22343cae 25.87%, #1f2e35b1 100%);
}

.search-form > input {
  margin: 12px;

  width: 226px;
  height: 48px;

  border-radius: 12px;

  background: #2a3c44;
}

.btn {
  width: 120px;
  height: 48px;

  line-height: 100%;
  text-align: center;
  color: #ffffff;

  border-radius: 12px;

  background: linear-gradient(180deg, #40df9f 0%, #3ed598 100%);
  box-shadow: 0px 2px 4px rgba(15, 218, 137, 0.3);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background: #286053;
}

.btn-loader {
  position: absolute;
  top: 0px;
  left: 0px;

  display: none;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  text-align: center;

  background: #286053;
  box-shadow: 0px 2px 4px rgba(15, 218, 137, 0.3);
}

.btn-loader:before,
.btn-loader:after {
  content: '';
  display: inline-block;
  height: 5px;
  width: 5px;
  margin: 0px calc(5px / 2);
  border-radius: 50%;
  background: #899a96;
}
.btn-loader:before {
  animation: dot1 1.2s infinite ease-in-out both;
}
btn-loader > span {
  display: inline-block;
  height: 5px;
  width: 5px;
  margin: 0px calc(5px / 2);
  border-radius: 50%;
  background: #899a96;
  animation: dot2 1.2s infinite ease-in-out both;
}
.btn-loader:after {
  animation: dot3 1.2s infinite ease-in-out both;
}

.btn-loading {
  position: relative;
}
.btn-loading > .btn-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* btn dots animation */
@keyframes dot1 {
  0% {
    opacity: 0;
  }
  16.66% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  83.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot2 {
  0% {
    opacity: 0;
  }
  16.66% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  83.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot3 {
  0% {
    opacity: 0;
  }
  16.66% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  83.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Gallery */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: var(--scroll-content-margin);
  gap: 12px;
  padding: 24px 0;
}

.gallery__item {
  position: relative;
  overflow: hidden;

  border-radius: 25px;

  background: #30444e;
  border: 1px solid #30444e;

  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover,
.gallery__item:focus {
  box-shadow: 0px 1px 14px #19282f;
  border: 1px solid #f9f9f9;
}

.photo-card {
  display: flex;
  flex-direction: column;

  width: 348px;
  height: 100%;

  padding: 12px;
}

.photo-card > img {
  border-radius: 12px;
}

.info {
  display: flex;
  margin-top: 8px;
}

.info-item {
  font-weight: 700;
  font-size: 16px;

  color: rgba(249, 249, 249, 0.7);
}

.info-item:not(:last-child) {
  margin-right: 6px;
}

.info-item > b {
  font-weight: 800;
  font-size: 18px;

  color: #f9f9f9;
}

/* Modal window */
.sl-image {
  border-radius: 25px;
  overflow: hidden;
}

.sl-overlay {
  background: linear-gradient(
    138.13deg,
    #22343c 25.87%,
    #1f2e35 100%
  ) !important;
}

.is-hidden {
  display: none;
}

.page-load-status {
  font-style: italic;
  font-weight: 700;
  line-height: 100%;

  padding-top: 20px;
  text-align: center;
  color: #899a96;
}

.loader-ellips > span {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0px calc(10px / 2);
  border-radius: 50%;
  background: #899a96;
}

.loader-ellips > span:first-child {
  animation: dot1 1.2s infinite ease-in-out both;
}
.loader-ellips > span {
  animation: dot2 1.2s infinite ease-in-out both;
}
.loader-ellips > span:last-child {
  animation: dot3 1.2s infinite ease-in-out both;
}
